openai==1.43.0
langchain-core==0.2.38
pydantic==2.8.2
python-dotenv==1.0.1
azure-identity==1.17.1
streamlit==1.38.0
langchain-openai==0.1.23
langchain==0.2.16
langchain_community==0.2.16
langgraph==0.2.16
ipython==8.27.0
azure-search-documents==11.5.1
tiktoken==0.7.0
pymongo==4.8.0