openai==1.42.0
langchain-core==0.2.36
pydantic==2.8.2
python-dotenv==1.0.1
azure-identity==1.17.1
streamlit==1.38.0
langchain-openai==0.1.23
langchain==0.2.15
langchain_community==0.2.14
langgraph==0.2.14
ipython==8.26.0
azure-search-documents==11.5.1